.para{
    white-space: pre-line;
    font-weight: 600;
}
body{
    
    font-weight: 400;
    line-height: 25px;
    font-size: 1.3em;

}
.active{
    font-weight: bold;
}
.jumbotron {
    margin-top: 0px;
}
/*phan noi dung trang chu*/
.list_lesson_toeic{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid #0081a1;
    margin:3px 0 0 3px;
}
.even {
    background-color: rgba(3, 169, 244, 0.1);
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}.to_unit_left {
    float: left;
}li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list_lesson_toeic li {
    width: 100%;
    display: table;
}
.to_unit_img {
    width: 118px;
    height: 98px;
    padding: 4px;
    border: 1px solid #c2c7c9;
    box-shadow: 0 0 2px #ced9dc;
    margin: 15px 12px 15px 20px;
    background: #fff;
    float: left;
}a {
    color: #474646;
    text-decoration: none;
}.to_unit_content {
    float: left;
    width: 380px;
    margin: 15px 0;
}.to_unit_content .lng_right_top {
    height: 85px;
}

.to_unit_content .lng_right_top {
    height: 85px;
}
.lng_right_top {
    width: 100%;
    height: 78px;
    overflow: hidden;
    vertical-align: middle;
    display: table-cell;
}h3.lng_right_tit {
    font-size: 14px;
}.lng_right_tit {
    width: 100%;
    float: left;
    font-weight: bold;
    margin: 0px 0 5px;
    line-height: normal;
}.lng_right_tit a, .lng_right_tit2 a {
    color: #0081a1;
}.lng_right_content {
    width: 100%;
    font-weight: normal;
    margin-bottom: 5px;
    float: left;
    line-height: 20px;
}.lng_r_info_item {
    float: left;
    margin-right: 20px;
    font-weight: normal;
}.lng_r_info_item img {
    vertical-align: middle;
    margin: 0 3px 0 1px;
}.lng_r_info_item {
    float: left;
    margin-right: 20px;
    font-weight: normal;
}.to_unit_info_box {
    width: 178px;
    min-height: 90px;
    background: #fff;
    border: 1px solid #4fbcea;
    border-radius: 6px;
    float: left;
    margin: 18px 10px 15px 0;
    position: relative;
    font-size: 12px;
}.to_test_info_top {
    width: 100%;
    float: left;
    height: 60px;
    line-height: 28px;
    border-bottom: 1px dotted #bebebe;
    color: #737373;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}.to_test_info_top_score {
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    font-weight: bold;
}.to_test_info_middle {
    width: 88px;
    height: 52px;
    float: left;
    text-align: center;
    color: #737373;
    font-weight: normal;
    padding-top: 16px;
    border-right:1px dotted #bebebe;
}
.to_test_info_row {
    width: 100%;
    float: left;
    line-height: 35px;
    border-top: 1px dotted #bebebe;
    color: #6a6a6a;
    background: #f0f0f0;
    border-left: 1px solid  #4fbcea;
    border-radius: 5px;
}
.to_yourscore_top {
    width: 100%;
    float: left;
    height: 30px;
    position: relative;
}
.to_yourscore_bottom_item {
    width: 20%;
    float: left;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #676767;
    height: 30px;
    line-height: 30px;
    position: relative;
    top: -8px;
    padding-top: 8px;
}
.abc{
        color:#2e6da4;
        display: block;
        text-align: -webkit-center; 
}

.li-right{
    float:right;
    margin-left: 500px;
}
.user-image{
    width:30px;
    height:30px;
}

/* LOGIN */
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password],input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 23px;
}

/* Set a style for all buttons */
button {
  background-color: #4fbcea;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.wrapper{
    width: 400px;
    height: 600px;
    background-color: #f1f1f1;
}
.form-login{
    width: 400px;
    height: 600px;
    padding: 10px;
}
/* giao dien sau khi nhan vao nut de thi */
.comment_bai_hoc {
    float: left;
    line-height: 180%;
    width: 750px;
    margin-top: 10px;
    font-size: 10pt;
}
.clear {
    clear: both;
}div {
    display: block;
}.ghichu0 {
    width: 1000px;
    min-height: 41px;
    line-height: 41px;
    margin: 12px 0px;
    border: 1px solid #E2E2E2;
    text-align: center;
    margin-left: 100px;
}h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}h1.title_lesson {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}.gthieu {
    font-size: 14px;
    color: #181616;
    font-weight: normal;
    line-height: 20px;
    margin-top: 0px;
    cursor: default;
    text-align:center
}.details {
    padding: 0 10px;
    clear: both;
    line-height: 180%;
}meta {
    display: none;
}#toeic_start {
    background: url(https://www.tienganh123.com/file/common/toeic/images/start.jpg) no-repeat;
    border: 0px;
    height: 49px;
    width: 122px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top:20px;
}
element.style {
    text-align: center;
    color: #C42D00;
}.toeic_content_start {
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    text-align: justify;
}.toeic_title {
    background: #4fbcea;;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 35px;
    font-weight: bold;
    display: block;
}.toeic_box_start {
    text-align: center;
    padding-bottom: 15px;
}
.click_start{
    text-align:center;
     color:#C42D00;
}
#tickerbg,#ticker{

    position: absolute;
}
.text-center{
    text-align: center;
}
.img-timer{
    width:100px;
    height: 100px;  
}
/* radio button show question */
.radio-wrapper{
        display: block;
        width: 100%;
        background: url(https://www.tienganh123.com/file/common/toeic/images/hr_space.png) no-repeat bottom center;
        float: left;
        padding-bottom: 25px;
        margin-top: 20px;
        margin-bottom: 50px;
        
}
.radio-input{
    float: left;
    width: 96px;
    text-align: center;
    margin-top: 4px;
    margin-left: 15px;
}
.image-center{
    display: block;
    text-align: center;
}
.radio1{
    margin-left:425px;
}
.basic_box {
    width: 100%;
    font-size: 11pt;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 190%;
    float:left;
}
.toeic_index {
    float: left;
    width: 72px;
    border-radius: 50px;
    border: 1px solid #58960f;
    text-align: center;
    height: 32px;
    line-height: 32px;
    color: #58960f;
    margin-top: 7px;
    position: relative;
    left: 300px;
}
.example{
    margin-bottom: 50px;
}
.clear_part{
    clear:both;
}
.para{
    font-size: 20px;
}
.radio-input-part{
    float: left;
    text-align: center;
    margin-top: 4px;
    margin-left: 15px;
}
.toeic_ques {
    width: 100%;
    display: block;
    margin: 20px 0px;
}
.toeic_ques::after{
    clear: both;
}
.toeic_index1 {
    float: left;
    width: 72px;
    border-radius: 50px;
    border: 1px solid #58960f;
    text-align: center;
    height: 32px;
    line-height: 32px;
    color: #58960f;
    margin-top: 7px;
}
.toeic_q_title {
    /* display: inline-block; */
    width: 600px;
    line-height: 24px;
    color: #005053;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13pt;
    text-align: justify;
}
.toeic_q_title1 {
    /* display: inline-block; */
    width: 1000px;
    line-height: 24px;
    color: #005053;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13pt;
    text-align: justify;
}
.space10 {
    height: 10px;
    clear: both;
    background: url(https://www.tienganh123.com/file/common/toeic/images/hr_space.png) no-repeat bottom center;
}
.space11{
    margin-bottom: 20px;
}
.wrapper-radiobuton{
    width: 80%;
    margin-left: 20%;
    float: left;
    padding-bottom: 15px;
    margin-top: 20px;
    display: block;
}
.toeic_col {
    float: left;
    margin-bottom: 10px;
    width: 50%;
    font-size: 12pt;
    
}
.direction-part{
    color:#337ab7;
}
.button-submit{
    width: 30%;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.BXH{
    float:left;
    width: 400px;
    min-height: 90px;
    background: #fff;
    border: 1px solid #4fbcea;
    border-radius: 6px;
    margin: 18px 10px 15px 20px;
    position: relative;
    font-size: 12px;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* after submit */
  .toda_box {
    width: 730px;
    margin: 10px 5px;
    float: left;
}.toda_ketqua_box {
    width: 100%;
    min-height: 200px;
    border-radius: 6px;
    background: #ffffff;
    overflow: hidden;
    box-shadow: 1px 2px 4px #9a9a9a;
    margin-top: 20px;
    margin-left:230px;
}
.toda_ketqua_box::after{
    clear:both;
}
.toda_ketqua_title {
    width: 100%;
    height: 33px;
    line-height: 33px;
    background: url(https://www.tienganh123.com/file/common/toeic/images/toda_img_title.jpg) left top repeat-x;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}.toda_ketqua_content {
    margin: 15px auto;
    width: 470px;
}.toda_ketqua_ct_left {
    width: 280px;
    float: left;
}.toda_left_row {
    width: 100%;
    line-height: 33px;
    height: 33px;
    float: left;
    border-bottom: 1px solid #ebebeb;
}
.toda_left_row_l {
    width: 50%;
    margin-left: 10%;
    float: left;
    text-align: left;
}
.toda_left_row_r {
    width: 30%;
    margin-right: 10%;
    float: right;
    text-align: right;
    font-weight: bold;
}.toda_ketqua_ct_right {
    width: 160px;
    float: right;
}.toda_bt_save {
    width: 140px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding-left: 12px;
    border: 1px solid #f78e0a;
    background: url(https://www.tienganh123.com/file/common/toeic/images/toda_bt_bg.png) left top no-repeat;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
}.toda_bt_view {
    width: 140px;
    background: url(https://www.tienganh123.com/file/common/toeic/images/toda_bt_bg.png) left bottom no-repeat;
    color: #5a5a5a;
    border: 1px solid #b8b8b8;
}
.answer-detail{
    clear:both;
    margin-top:30px;
    margin-left: 230px;
    width: 100%;
}
#bs-example-navbar-collapse-1{
    float:right;
}
.btn-header{
    background-color: #f1f1f1;
    margin-left:5px;
    margin-right: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
}
link:hover{
    text-decoration: none;
}
.image-title{
    width: 1200px;
    height: 650px;
    box-shadow: 1px 1px 1px 1px #888888;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}
.image-footer{
    box-shadow: 1px 1px 1px 1px #888888;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}


/* footer */

.footer-page{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    clear: both;
    margin-top:100px;
}
.search-text{
	margin-top:50px;
	background-color: rgba(3, 169, 244, 0.1);
	padding-top:60px;
	padding-bottom:60px;
}
	
.search-text .input-search{
	height:45px;
	width:40%;
	padding-left:20px;
    color:#333;
} 

.search-text .btn-search{
    background: #4fbcea;
    border:none;
	color:#000;
	height: 45px;
    width: 80px;
}

.search-text h4{
    color: #000;
    font-weight: 700;
}

footer{
     background-color: #4fbcea;
     padding:30px 0px;
}	       

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.address li a , .menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li{
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.address .fa{
    color: #da3e44;
    margin-right: 10px;
    font-size:18px;
}
.active{
    color:#f1f1f1;
    
}
#true{
 background-color: #f1f1f1;
 color: green;
}

#yes{
    background-color: #f1f1f1;
 color: green;
}
.deletebutton{
    float: left;
    margin-top:60px;
}
.delete{
    color: #000;}

textarea{
    height: 200px;
    width: 100%;
}
.add_forum{
    font-size: 25px;
}
table, td, tr, th{
    border: 1px solid  #4fbcea;
}